<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.vnk.complatinggeoloc" versionCode="10" version="2.2.2">

  <!-- versionCode is optional and Android only -->

  <name>Cordova email plugin</name>

  <description>
    Email
  </description>
  <platform name="android">
  
  </platform>
  <!--<plugin name="cordova-plugin-geolocation" spec="~1.0.0" />-->
  
  <!--<gap:plugin name="de.appplant.cordova.plugin.email-composer" />-->
  <gap:plugin name="cordova-plugin-email-composer" version="0.8.3" source="npm" />
    <gap:plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <gap:plugin name="cordova-plugin-device" spec="^2.0.2" />
    <gap:plugin name="cordova-plugin-x-toast" spec="^2.7.0" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="osx" spec="^4.0.2" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="windows" spec="latest" />
  
  <author href="#">
   dooshyant
  </author>
 
</widget>
